body {
    background-color: #e0f7fa; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #00ccba;
    font-size: 2em;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #00ccba;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #00ccba;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #009a99;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.options label {
    display: flex;
    align-items: center;
}

.password-box {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #00ccba;
    border-radius: 5px;
}
